.hero-container {
  padding-top: 255px;
  padding-bottom: 205px;
  background-size: contain;
  background: no-repeat url('../../assets/img/hero.jpg');
}

.header {
  font-size: 60px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 330px;
    padding-bottom: 330px;
    background-image: url('../../assets/img/tablet/start/hero.jpg');
  }

  .header {
    font-size: 128px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-container {
    padding-top: 340px;
    background-image: url('../../assets/img/desktop/start/hero.jpg');
  }
  .header {
    font-size: 150px;
  }
}
