.character {
  padding-top: 125px;
  padding-bottom: 125px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.nickname {
  font-size: 18px;
  line-height: 1.3;
}

.real-name,
.superpowers,
.origin-description,
.catch-phrase {
  font-size: 14px;
  line-height: 1.28;
}

.superpowers,
.origin-description,
.catch-phrase {
  font-weight: 400;
}

.real-name {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--main-white-opacity);
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.photo-container {
  width: 100%;
}

.img {
  height: 445px;
  width: 332px;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
  border: 2px solid var(--main-violet);
}

@media screen and (min-width: 768px) {
  .nickname {
    font-size: 24px;
    line-height: 1;
  }

  .real-name,
  .superpowers,
  .origin-description,
  .catch-phrase {
    font-size: 16px;
    line-height: 1.125;
  }

  .photo-container {
    width: calc((100% - 15px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .info {
    margin: 0 auto;
    width: 536px;
  }
  .photo-container {
    width: calc((100% - 15px * 4) / 5);
  }
}
